.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 2rem; */
  background: #ffffff;
}

.about h3 {
  font-size: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}

.about h5 {
  font-weight: 100;
  font-size: 14px;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 5rem;
}

.grid {
  background: #ffffffe5;
  box-shadow: 0px 2px 20px #e8e8e8;
  height: 230px;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
  padding: 1.5rem;
  border: 3px solid #ffffff;
  border-radius: 1rem;
}
.about__header {
  display: flex;
  margin: 2rem 0;
  gap: 1rem;
}
.about__contact {
  display: flex;
  flex-direction: row;

  margin: 0 2rem;
}
.who {
  margin: 0 2rem;
}

img {
  width: 550px;
}
.contact__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  width: 478.2px;
  row-gap: 1rem;
}

.contact__description h2 {
  color: #ffa83f;
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  img {
    width: 350px;
  }

  .about__header {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  .grid {
    width: 300px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .about__contact {
    display: flex;
    flex-direction: column;
    margin: 1rem 5rem;
    padding: 2rem 0;
    background: #ffffffe5;
    box-shadow: 0px 2px 20px #e8e8e8;
    align-items: center;
  }
  .contact__description {
    align-items: center;
  }
  .contact__description {
    width: 60%;
    padding: 0.5rem;
  }

  .about h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}
